@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 1.5;
}

p {
  color: #9fabb2;
  margin: 0.8rem 0;
  font-size: 1rem;
}

h1, h2, h3 {
  color: #4c545d;
  font-weight: 600;
}

h1 {
  font-size: 1.8rem;
}

img {
  width: 100%;
}

section {
  margin: 0 1rem;
  text-align: center;
}

@media Screen and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
}

.ios-btn {
  cursor: pointer;
  background-color: #26baa4;
  color: white;
  font-family: inherit;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding: 1.2rem 5rem;
  letter-spacing: 0.05rem;
  -webkit-transition: 550ms;
  transition: 550ms;
  font-size: 0.9rem;
}

.ios-btn:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

@media Screen and (min-width: 1024px) {
  .ios-btn {
    padding: 1.2rem 3rem;
    margin-left: 1rem;
  }
}

.mac-btn {
  cursor: pointer;
  background-color: #6173ff;
  color: white;
  font-family: inherit;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding: 1.2rem 5rem;
  letter-spacing: 0.05rem;
  -webkit-transition: 550ms;
  transition: 550ms;
  font-size: 0.9rem;
}

.mac-btn:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

@media Screen and (min-width: 1024px) {
  .mac-btn {
    padding: 1.2rem 3rem;
    margin-left: 1rem;
  }
}

.header {
  padding: 3.5rem 0;
  background-image: url("/src/assets/images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 0.5rem;
}

.header__wrapper .wrapper__img-container {
  width: 8rem;
}

.header__wrapper .wrapper__text {
  margin: 1.5rem 0;
}

@media Screen and (min-width: 1024px) {
  .header {
    background-image: url("/src/assets/images/bg-header-desktop.png");
    background-position: top;
  }
  .wrapper__text {
    max-width: 500px;
  }
}

.hero__title-container {
  margin-bottom: 2.5rem;
}

.hero__main-text-wrapper div {
  margin: 2rem 0;
}

@media Screen and (min-width: 1024px) {
  .hero__title-container {
    display: inline-block;
    max-width: 560px;
  }
  .hero__main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .hero__main-content .hero__img-container {
    width: 50%;
  }
  .hero__main-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    margin: 0.8rem 0 0 5rem;
  }
  .hero__main-text-wrapper p {
    max-width: 350px;
  }
}

.access {
  padding: 6rem 0 4rem 0;
}

.access .access__text-wrapper {
  margin-bottom: 2.5rem;
  max-width: 37.5rem;
}

@media Screen and (min-width: 1024px) {
  .access {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */