.company-logos {
    margin-bottom: 5rem;
}

.company-logos__wrapper {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 2.8rem;
    justify-content: center;

    img {
        width: 7rem;
    }
}

@media Screen and (min-width: 1024px) {
    .company-logos__wrapper {
        grid-template-columns: repeat(5, 15.625rem);
        grid-template-rows: none;
        place-items: center;
    }
}
