.hero__title-container {
    margin-bottom: 2.5rem;
}

.hero__main-text-wrapper div {
    margin: 2rem 0;
}

@media Screen and (min-width: 1024px) {
    .hero__title-container {
        display: inline-block;
        max-width: 560px;
    }

    .hero__main-content {
        display: flex;
        flex-flow: row nowrap;

        .hero__img-container {
            width: 50%;
        }
    }

    .hero__main-text-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: left;
        margin: 0.8rem 0 0 5rem;
        p {
            max-width: 350px;
        }
    }
}
