// PRIMARY COLORS

$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);

// NEUTRAL COLORS

$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(202, 11%, 66%);
$grayish-white: hsl(0, 0%, 97%);

// WEIGHTS

$regular-weight: 400;
$semi-bold-weight: 600;
