
// PRIMARY COLORS

$strong-cyan:#26baa4;
$light-blue:hsl(233, 100%, 69%);

// NEUTRAL COLORS

$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: #9fabb2;

// WEIGHTS

$regular-weight: 400;
$semi-bold-weight: 600;